@import 'tailwindcss';

::-webkit-scrollbar {
    display: none;
}

body {
    color: #f5f5f1;
    background: #000000;
}

a {
    color: #f5f5f1;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #e50914;
}

.no-scroll {
    overflow: hidden;
}
